*{
  padding: 0;
  margin: 0;
  font-family: "Inder", sans-serif;
}
body{
  background-color: rgb(25, 25, 133);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 350px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.input-container{
  width: 100%;
  align-items: center;
  display: flex;
  border: 2px solid skyblue;
  border-radius: 10px;
  overflow: hidden;
}
.cityInput{
  flex: 1;
  height: 30px;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
}
.search-icon{
  padding: 10px;
  height: 30px;
  cursor: pointer;
}
.image{
  text-align: center;
  height: 150px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.image img{
  width: 120px;
  height: 120px;
  margin-top: 20px;
}
.temp,
.location,
.country{
  margin-top: 5px;
  font-size: 35px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
}
.temp{
  font-weight: 600;
}
.location{
  color: #ffbc00;
  font-weight: 500;
}
.country{
  font-size: 18px;
  color: #888;
  font-weight: 500;
}
.cord{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;
  gap: 10px;
}
.cord div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cord div span{
  font-size: 14px;

}
.humidity-percent,
.wind-percent,
.cord div span:nth-child(2){
font-size: 18px;
font-weight: bold;
color: #666;
padding-top: 5px;
}
.data-container{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
.element{
  text-align: center;
}
.icon{
  width: 80px;
  height: 80px;
}
.text{
  font-size: 12px;
  font-weight: 600;
  color: #888;
}
.copyright{
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #888;
  font-weight: 500;
  margin-bottom: 10px;
}
.copyright span{
  color: #333;
}
.loading-message,
.error-message,
.city-not-found{
  margin-top: 10px;
  color: #888;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
